<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>kt-snapshot</id>
            <username>admin</username>
            <password>Ktaicc@1234</password>
        </server>
        <server>
            <id>kt-release</id>
            <username>admin</username>
            <password>Ktaicc@1234</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <name>nexus</name>
            <url>http://10.233.16.170:8081/repository/nexus/</url>
<!--            <url>http://nexus.k8s.io:30083/repository/nexus/</url>-->
            <mirrorOf>*</mirrorOf>
        </mirror>
        <!-- 		<mirror>
                    <id>central</id>
                    <name>Central Repository</name>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <mirrorOf>central</mirrorOf>
                </mirror> -->
    </mirrors>
</settings>